@use 'helpers';

body>header {
  @extend %flex-center-col;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color: darkorange;
  background-image: url("/images/asfalt-dark.png");
}

body>header img {
  width: 185px;
}