@use 'helpers';

.new-tweet {
  margin-top: 30px;
  font-weight: 600;

  textarea {
    border: none;
    resize: none;
    width: 100%;
    background-color: inherit;
    border-bottom: 1px solid black;
    outline-width: 0;
  }

  footer {
    @extend %flex-between;
    font-family: "Bungee", "Sans-serif";
  }

  button {
    @include helpers.back-fore-color(#4056A1, #FFFFFF);
    font-size: 66%;
  }

  .error {
    @include helpers.back-fore-color(red, #FFFFFF);
    text-align: center;
  }

  .red {
    color: red;
  }
}