body > header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes bounceJump {
  50% {
    transform: translateY(-5px);
  }
}
@keyframes bounceNav {
  50% {
    transform: translateY(5px);
  }
}
body > header {
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color: darkorange;
  background-image: url("/images/asfalt-dark.png");
}
body > header img {
  width: 185px;
}
