#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile {
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color: darkorange;
  background-image: url("/images/asfalt-dark.png");
}
#profile img {
  width: 185px;
}
