#jump {
  color: #FFFFFF;
  background-color: #FF0000;
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin: 20px;
  z-index: 1;
  border-radius: 1em;
  height: 2em;
  width: 2em;
  display: none;
}
#jump i {
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
#jump:hover i {
  animation-name: bounceJump;
}

@keyframes bounceJump {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}