@keyframes bounceJump {
  50% {
    transform: translateY(-5px);
  }
}
@keyframes bounceNav {
  50% {
    transform: translateY(5px);
  }
}
#jump {
  background-color: #FF0000;
  color: #FFFFFF;
  display: none;
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin: 20px;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  z-index: 1;
}

#jump:hover i {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: bounceJump;
}
