@media only screen and (min-width: 1024px){
  nav, nav button {
    background-color: rgb(64, 86, 161);
    color: #FFFFFF;
  }

  body>header {
    width: 28%;
    display: inline-flex;
    position: relative;
    top: 120px;
    min-width: 300px;
    max-width: 400px;
    margin-top: 60px;
    margin-left: 5%;
  }

  .container {
    width: 56%;
    position: relative;
    top: 120px;
    max-width: 700px;
    float: right;
    margin-top: 30px;
  }
}