nav {
  display: flex;
  justify-content: space-between;
}

nav button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes bounceJump {
  50% {
    transform: translateY(-5px);
  }
}
@keyframes bounceNav {
  50% {
    transform: translateY(5px);
  }
}
nav {
  background-color: rgba(64, 86, 161, 0);
  color: #FFFFFF;
  height: 120px;
  width: 100%;
  padding: 0 1.5em;
  align-items: center;
  position: fixed;
  z-index: 1;
}
nav span {
  font-family: "Bungee", "Sans-serif";
}
nav button {
  background-color: rgba(64, 86, 161, 0);
  color: #FFFFFF;
  border-style: none;
}
nav button:hover i {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: bounceNav;
}
nav i {
  color: #FF0000;
}
