.new-tweet footer {
  display: flex;
  justify-content: space-between;
}

.new-tweet {
  margin-top: 30px;
  font-weight: 600;
}
.new-tweet textarea {
  border: none;
  resize: none;
  width: 100%;
  background-color: inherit;
  border-bottom: 1px solid black;
  outline-width: 0;
}
.new-tweet footer {
  font-family: "Bungee", "Sans-serif";
}
.new-tweet button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 66%;
}
.new-tweet .error {
  background-color: red;
  color: #FFFFFF;
  text-align: center;
}
.new-tweet .red {
  color: red;
}
