.tweet-container {
  width: 100%;
  border: 1px solid black;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Source sans pro", "Sans-serif";
}

.tweet-container header {
  display: flex;
  justify-content: space-between;
}

.tweet-container .content {
  margin-top: 20px;
  text-align: justify;
}

.tweet-container footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

.tweet-container .icons {
  font-size: smaller;
  color: #4056A1;
}

.tweet-container .fa-solid:hover {
  color: rgb(193,154,53);
}