#tweets-container article{
  width: 100%;
  border: 1px solid black;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  font-family: "Source sans pro", "Sans-serif";
}

#tweets-container article:hover{
  box-shadow: 5px 10px;
}

#tweets-container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tweets-container header .user{
  display: flex;
  align-items: center;
}

#tweets-container img {
  height: 1em;
}

#tweets-container .content {
  margin-top: 20px;
  text-align: justify;
  word-wrap: break-word;
}

#tweets-container footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

#tweets-container .icons {
  font-size: smaller;
  color: #4056A1;
}

#tweets-container .fa-solid:hover {
  color: rgb(193,154,53);
}